<h2>New Artist</h1>
<%= form_for @artist do |f| %>
<%= f.label :name, "Artist Name: " %>
<%= f.text_field :name, placeholder: "Artist Name" %><br>
<%= f.label :bio, "Bio: " %>
<%= f.text_area :bio, placeholder: "Bioware" %><br>
<%= f.submit "Create Artist" %>
<% end %>
